# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SeminarioII-2020\SeminarioII-GestionAlumnos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
